/* Comidas.css */

.comidas-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  .comidas-imagen {
    width: 100%; /* Ajusta el ancho de la imagen al 100% del contenedor */
    max-width: 400px; /* Establece un ancho máximo para la imagen */
    margin-bottom: 10px; /* Añade un margen inferior para separar la imagen del texto */
  }
  
  .comidas-texto {
    font-size: 18px;
    color: #333;
  }
  